@model AspNetCore2Boilerplate.ViewModels.UserLoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()    

    <div class="form-group-lg">
        <div>
            @Html.ValidationMessage("Invalid Login")
        </div>

        <label asp-for="EmailAddressOrUsername" class="txt-md-bd form-label"></label>
        <input type="text" asp-for="EmailAddressOrUsername" class="form-control" />
        <span asp-validation-for="EmailAddressOrUsername"></span>
        <br />

        <label asp-for="Password" class="txt-md-bd form-label"></label>
        <input type="password" asp-for="Password" class="form-control" autocomplete="off" />
        <span asp-validation-for="Password"></span>
        <div class="link"><a asp-area="" asp-controller="User" asp-action="PasswordReset">Forgotten your password?</a></div>
        <br />

        <input type="checkbox" asp-for="RememberMe" />
        <span>&nbsp;Remember me?</span>

        <input type="hidden" asp-for="ReturnUrl" />

        <div>
            <button type="submit"><span class="glyphicon glyphicon-menu-right pull-right"></span>Sign in</button>
        </div>
        <div><a asp-controller="User" asp-action="Register">Don't have an account?</a></div>

    </div>
}
